{{#each commitGroups}}
  <h2>{{title}}</h2>
  {{#if notes}}
    <h3>Breaking Changes</h3>
    <ul>
      {{#each notes}}
        <li>{{text}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <ul>
    {{#each commits}}
      <li>
        {{#if scope}}
          **{{scope}}:**
        {{/if}}
        {{subject}} ({{hash abbreviated=true}})
      </li>
    {{/each}}
  </ul>
{{/each}}
